/* overlapping margins are way too annoying */
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, main, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

nav {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background-color: lightgreen;
}

ul {
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 790px;
    padding: 0;
}

ul li {
    display: block;
    text-align: center;
    float: left;
    font-size: 20px;
    line-height: 68px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightskyblue;
}

li a {
    padding: 25px;
    margin: 0;
    width: 100%;
    height: 100%;
}

li a:hover {
    background-color: rgb(162, 255, 137);
    color: lightseagreen;
}

h1 {
    padding: 20px;
    margin-left: 10px;
    display: block;
    font-size: 28px;
}

main {
    position: absolute;
    background-color: rgb(201, 255, 177);
    top: 70px;
}